<app-container [topIndent]="indentedContainer">
  <div class="funds card">
    <div class="card-body">
      <form class="descrip-row mb-5">
        <h3 class="card-title">What would you call your tasks?</h3>
        <p>Get a glimpse of what would action-buttons and cards would look like.</p>
        <div class="input-group mb-3">
          <input type="text" [formControl]="taskSetupForm" class="form-control" placeholder="Example: Ticket, Task, Micro Goal..." aria-label="Work Item Label" aria-describedby="basic-addon1" />
        </div>
      </form>

      <div class="preview">
        <h5>Preview</h5>
        <div class="mt-2">
          <h6>Create button</h6>
          <button type="button" class="btn btn-primary">Create New {{ taskSetupForm.value }}</button>
        </div>
        <div class="mt-4">
          <h6>Card</h6>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Apply a new filter for the User plan page</h5>
              <span>{{ taskSetupForm.value }}#9042</span>
            </div>
            <div class="card-footer d-flex flex-row-reverse">
              <div class="meta-data">
                <span class="badge rounded-pill bg-info text-dark inline-flex">3 - $8.00</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex flex-row-reverse">
        <a routerLink="/" type="button" class="btn btn-primary">
          Continue
        </a>
      </div>
    </div>
  </div>
</app-container>